_distutils_hack
click
click-8.1.3.dist-info 
colorama 
colorama-0.4.6.dist-info 
flask
flask_sqlalchemy
Flask_SQLALCHEMY-3.0.2.dist-info 
Flask-2.2.2.dist-info 
greenlet
greenlet2.0.1.dist-info 
itsdangerous
itsdangerous-2.1.2.dist-info 
jinja2
Jinja2-3.1.2.dist-info 
markupsafe
MarkupSafe-2.1.1.dist-info 
pip
pip-22..0.4.dist.info 
pkg_resources
setuptools
setuptools58.1.0.dist-info 
sqlalchemy 
SQLAlchemy-1.4.45.dist-info 
werkzeug
Werkzeug-2.2.2.dist-info 