{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST">
        <label for="Email">Email:</label>
        <input type="email" name="Email"><br>

        <label for="Password">Password:</label>
        <input type="password" name="Password"><br>

        <button type="submit">Login</button>
    </form>
    <h1 class="heading-jumbo-small">REMINDER! You need to login in order to:</h1>
        <ul>
            <li class="list-item">Vote!</li>
            <li class="list-item">Leave a comment!</li>
            <li class="list-item">Upload a property.</li>
        </ul>
        <p class="paragraph-small"><strong>Please Register now if you don't already have an account.</strong></p>
</body>
</html>

    
    
{% endblock %}