<html>
<head>
    <title>Property Details</title>
</head>
<body>
    <h1>Property Details</h1>
    <p><b>Address:</b> {{ property['address'] }}</p>
    <p><b>Postcode:</b> {{ property['postcode'] }}</p>
    <p><b>Description:</b> {{ property['description'] }}</p>
    <p><b>Electricity Cost:</b> {{ property['electricity'] }}</p>
    <p><b>Water Cost:</b> {{ property['water'] }}</p>
    <p><b>Internet Cost:</b> {{ property['internet'] }}</p>
    <p><b>Council Tax:</b> {{ property['council_tax'] }}</p>
    <p><b>Landlord Review:</b> {{ property['landlord_review'] }}</p>
    <p><b>Property Tip:</b> {{ property['property_tip'] }}</p>
    <p><b>Created At:</b> {{ property['created_at'] }}</p>
</body>
</html>